/* Style your dropdown below! */
ul {
    margin: none;
    padding: none;
    list-style-type: none;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    text-align: center;
    font-family: "Open Sans", helvetica, sans-serif;
    width: 500px;
    font-size: 22px
}

#toggle {
    background-color: rgb(218, 110, 128);
    color: white;
}